{
  "extends": ["custom/next", "prettier"],
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/function-component-definition": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
